services:
  - name: nexus-backend
    type: web
    env: node
    region: frankfurt
    plan: free
    rootDir: .
    autoDeploy: true
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL        # postavi vrijednost nakon kreiranja (Neon URI sa sslmode=require)
        sync: false
    buildCommand: |
      npm ci || npm i
      npx prisma generate
      npx prisma migrate deploy
    startCommand: node src/index.js
    healthCheckPath: /healthz

  - name: nexus-frontend
    type: web
    env: node
    region: frankfurt
    plan: free
    rootDir: frontend
    autoDeploy: true
    envVars:
      - key: VITE_API_URL        # postavi nakon kreiranja (URL backend servisa)
        sync: false
    buildCommand: npm ci && npm run build
    startCommand: npx serve -s dist -l 
